{% load static %}
<html>
    <head>
        <title>foo_bar</title>
        <link href="{% static 'css/form.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <header>
            <div class="row">
                <div class="col-sm-4">
                    <ul>
                        <li><a href="{% url 'menu:index' %}"><span id="home" class="glyphicon glyphicon-home"></span></a></li>
                    </ul>
                </div>
                <div class="col-sm-8">
                    <h1 style="margin-left: 100px">foo_bar</h1>
                </div>
            </div>
        </header>
        {% block content %}
        {% endblock %}
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="{% static "js/form.js" %}"></script>
    </body>
</html>